{% extends 'base.html.twig' %}

{% block title 'Modification du mot de passe' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto ">
            <h1 class="my-5 text-center">Changer mon mot de passe</h1>

            {{ form_start(Form) }}
            {{ form_widget(Form) }}
                <button type="submit" class="btn btn-primary btn-lg btn-block" formnovalidate>Modifier</button>

            {{ form_end(Form) }}
    
        </div>
    </div>

{% endblock %}