{% extends 'base.html.twig' %}

{% block title 'nouvelle annonce' %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Création d'annonce</h1>

			{{include('annonces/_form.html.twig')}}
		</div>
	</div>


{% endblock %}
