{% extends 'base.html.twig' %}

{% block title 'Editer annonce#' ~ annonce.id %}

{% block body %}
    <h1>Modifier annonce#{{annonce.id}}</h1>

        {{include('annonces/_form.html.twig',  {submitButtonText: 'Modifier l\'annonce'})}}

{% endblock %}