{% extends 'base.html.twig' %}

{% block title 'Editer annonce#' ~ annonce.id %}

{% block body %}
<div class="row">
	<div class="col-md-8 mx-auto">
		<h1>Modifier annonce#{{annonce.id}}</h1>
            
		{{include('annonces/_form.html.twig')}}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/images.js') }}"></script>
{% endblock %}
