{% extends 'base.html.twig' %}

{% block title 'Editer annonce#' ~ annonce.id %}

{% block body %}
    <h1>Modifier annonce#{{annonce.id}}</h1>

        {{ form_start(monFormulaire) }}
            {{ form_widget(monFormulaire) }}

            <input type="submit" value="Modifier l'annonce" formnovalidate>

        {{ form_end(monFormulaire) }}

{% endblock %}