{% extends 'base.html.twig' %}

{% block title %}Réintialisation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-3 text-center">Restaurer votre mot de passe</h1>

            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-error mb-3 rounded" role="alert">{{ flashError }}</div>
            {% endfor %}

            <p class="mb-3 mt-5 text-muted">
                <small>
                    Entrez votre adresse e-mail et nous vous enverrons un
                    lien pour réinitialiser votre mot de passe.
                </small>
            </p>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}

                <button type="submit" class="btn btn-primary btn-lg btn-block mt-5" formnovalidate>Envoyer</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
