<div class="cards">
                    <div class="card-single">
                        <div>
                            <h1>54</h1>
                            <span>Utilisateurs</span>
                        </div>
                        <div>
                            <span class="las la-users"></span>
                        </div>    
                    </div>
    
                    <div class="card-single">
                        <div>
                            <h1>79</h1>
                            <span>Femmes</span>
                        </div>
                        <div>
                            <span class="las la-clipboard-list"></span>
                        </div>    
                    </div>
    
                    <div class="card-single">
                        <div>
                            <h1>124</h1>
                            <span>Hommes</span>
                        </div>
                        <div>
                            <span class="las la-shopping-bag"></span>
                        </div>    
                    </div>
    
                    <div class="card-single">
                        <div>
                            <h1>{{annonces|length}}</h1>
                            <span>Annonces</span>
                        </div>
                        <div>
                            <span class="lab la-google-wallet"></span>
                        </div>    
                    </div>
                </div>