<footer class='container text-center mt-5'>
<p class='text-muted'>
<small>
    &copy; Copyright {{'now'|date('Y', 'Europe/Paris')}}
    &middot; <a 
                href=" {{path('app_home')}} " 
                class="text-indigo-500 hover:text-indigo-600 underline">About Us
            </a>
</small>
    
</p>
</footer>