.slider {
    width: 350px;
    height: 230px;
    position: relative;
}

.slider .left-slide,
.slider .right-slide {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #444444;
    border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    transition: all .5s ease;
}

.slider .left-slide:hover,
.slider .right-slide:hover {
    box-shadow: 0px 0px 10px black;
    background-color: #29a8e2;
}

.slider .left-slide {
    left: 30px;
}

.slider .right-slide {
    right: 30px;
}

.slider .slider-items .item img {
    max-width: 100%;
    display: block;
}

.slider .slider-items .item {
    display: none;
}

.slider .slider-items .item.active {
    display: block;
}